@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400,500,600,800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main,
section {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?b8ifwj");
  src: url("../fonts/icons.eot?b8ifwj#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?b8ifwj") format("truetype"), url("../fonts/icons.woff?b8ifwj") format("woff"), url("../fonts/icons.svg?b8ifwj#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-footer:before {
  content: "\e90f";
}

._icon-arrow-down:before {
  content: "\e910";
}

._icon-users:before {
  content: "\e911";
}

._icon-search:before {
  content: "\e912";
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.error-block {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 6;
  font-weight: 700;
}

.error-block span {
  font-size: 18px;
  color: red;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ba0000;
}

.title.white {
  color: #ffffff;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  background-color: #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  border-radius: 25px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ba0000;
  padding: 0px 30px 0px 30px;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  font-family: "Poppins", sans-serif;
}

body._isLocked {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1205px;
  margin: 0px auto;
  padding: 0px 15px;
}

.bigcontainer {
  max-width: 1275px;
  margin: 0px auto;
  padding: 0px 15px;
}

.page__services {
  padding-top: 140px;
  padding-bottom: 100px;
}

.page__tabs {
  margin-bottom: 100px;
}

.page__info {
  margin-bottom: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page__sponsors {
  margin-bottom: 70px;
}

.delievery {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
}

.delievery::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../Img/header/bg_47.png);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  background-position: left;
  background-repeat: no-repeat;
}

.delievery__content {
  position: relative;
  z-index: 6;
  max-width: 750px;
}

.delievery__title {
  font-size: 70px;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 50px;
}

.delievery__title span {
  display: block;
}

.delievery__line {
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  margin-bottom: 35px;
}

.delievery__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffcc00;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
}

.delievery__titles {
  margin: 0px 0px 30px 0px;
}

.delievery__titles > span {
  position: relative;
}

.delievery__titles > span:not(:last-child)::after {
  content: ".";
  padding: 0px 25px 0px 25px;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.delievery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delievery__buttons > a:not(:last-child) {
  margin: 0px 20px 5px 0px;
}

.delievery__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  min-height: 50px;
  background-color: rgba(255, 204, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.delievery__button span {
  position: relative;
  z-index: 3;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.delievery__button::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  background-color: white;
  border-radius: 25px;
}

.delievery__bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  left: 0;
}

.delievery__bgimage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__title {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ba0000;
  margin-bottom: 70px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__service {
  -ms-flex-preferred-size: 22.6556016598%;
      flex-basis: 22.6556016598%;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-block__picture {
  padding: 0px 0px 66.6666666667% 0px;
}

.service-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 26px 0px 0px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service-block__title {
  margin: 0px 0px 10px 0px;
}

.service-block__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #777777;
  margin: 0px 0px 20px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.service-block__link {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #222222;
  padding: 0px 15px 0px 0px;
}

.service-block__link::before {
  color: #ba0000;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  top: 4px;
}

.explore {
  background-color: #ba0000;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.explore__title {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.explore__line {
  width: 70px;
  height: 2px;
  background-color: #ffcc00;
  margin: 0px 0px 20px 0px;
}

.explore__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 40px;
}

.explore__select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.explore__value {
  padding: 15px 10px 15px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9d0000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.explore__button {
  padding: 15px 0px 15px 0px;
  background-color: #ffcc00;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.explore__button::before {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ba0000;
}

.explore__sub-values {
  display: none;
  background-color: #9d0000;
  position: absolute;
  top: 100%;
  padding: 0px 10px 0px 28px;
  width: 100%;
}

.explore__sub-value {
  font-size: 14px;
  padding: 10px 0px 10px 0px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.video {
  margin: 0px 0px 560px 0px;
  position: relative;
}

.video__content {
  position: relative;
  z-index: 4;
  padding-bottom: 390px;
}

.video__wrapper {
  padding-top: 100px;
}

.video__title {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 50px;
  position: relative;
  z-index: 4;
}

.video__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__play {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  border-radius: 50%;
}

.video__play::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #ba0000;
  border-bottom: 10px solid transparent;
}

.video__pause {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  border-radius: 50%;
  display: none;
}

.video__pause img {
  width: 70%;
  height: 70%;
}

.video__pause.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__show-info {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  display: none;
  margin: 20px 0px 0px 0px;
}

.video__row {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.video__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.7053941909%;
          flex: 0 1 30.7053941909%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.video__picture {
  padding: 0px 0px 54.0540540541% 0px;
}

.video__smalltitle {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ba0000;
  margin: 0px 0px 20px 0px;
}

.video__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: absolute;
  width: auto;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
  width: 100%;
  padding: 30px;
}

.video__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__link {
  display: block;
  font-size: 16px;
  position: relative;
  padding: 10px 0px 10px 20px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  color: #555353;
}

.video__link::before {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
      -ms-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
  font-weight: 400;
  color: #ffcc00;
  display: inline-block;
}

.video__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.tabs__tabs-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.3029045643%;
          flex: 0 1 47.3029045643%;
  background-color: #ba0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__menu > li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

.tabs__tab-link {
  cursor: pointer;
  min-height: 50px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.tabs__tab-link.active-tab {
  background-color: #ffcc00;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
          box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  color: #ba0000;
}

.tabs__tabs {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs__tab {
  padding: 50px 43px 43px 43px;
}

.tabs__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.7676348548%;
          flex: 0 1 35.7676348548%;
  position: relative;
  z-index: 2;
}

.tabs__picture-border {
  height: 100%;
  position: relative;
  overflow: visible;
  z-index: 2;
  background-color: rgba(186, 0, 0, 0);
  border: 20px solid #ffcc00;
}

.tabs__picture-img {
  position: relative;
  z-index: 2;
  height: 100%;
}

.tabs__picture-img img {
  display: block;
  position: absolute;
  z-index: 3;
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110%;
  top: 25px;
  left: 20px;
}

.tabs__picture-img::before {
  content: "";
  background-image: url(../Img/tabs/tabsBefore.png);
  width: 110%;
  height: 110%;
  position: absolute;
  background-size: cover;
  background-position: bottom;
  z-index: 4;
  display: block;
  top: 30px;
  left: 20px;
}

.tab {
  display: none;
}

.tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab > div:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.tab__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab__spoller {
  min-height: 50px;
  height: 1px;
  background-color: rgba(255, 204, 0, 0);
  border: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab__spoller.active-spoller {
  background-color: #ffcc00;
}

.tab__spoller.active-spoller .tab__arrow {
  border-left: 1px solid #ba0000;
}

.tab__spoller.active-spoller .tab__arrow::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tab__spoller.active-spoller .tab__value {
  color: #ba0000;
}

.tab__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 5px 20px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.tab__arrow {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  border-left: 1px solid white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab__arrow::before {
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.tab__body {
  background-color: #a30000;
  border: 2px solid #ffcc00;
  padding: 20px 16px;
  display: none;
}

.tab__title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0px 0px 12px 0px;
}

.tab__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab__link {
  padding: 5px 0px 5px 20px;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.tab__link::before {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
      -ms-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
  font-size: 20px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #ffcc00;
}

.info {
  background-color: #ba0000;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__info-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62.0746887967%;
          flex: 0 1 62.0746887967%;
}

.info__title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.info__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-size: 16px;
}

.info__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  background-color: #a00000;
  border-radius: 25px;
  font-size: 12px;
  padding: 0px 30px 0px 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.sponsors__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
  row-gap: 20px;
}

@supports not (grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))) {
  .sponsors__row {
    grid-template-columns: repeat(4, 270px);
  }
}

.sponsors__sponsor {
  border: 2px solid rgba(186, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.sponsors__sponsor img {
  max-width: 90%;
  min-height: 40px;
  max-height: 40px;
}

@media (min-width: 1210px) {
  .page__video {
    margin: 0px 0px 380px 0px;
  }
}

@media (max-width: 1205px) {
  .page__services {
    padding-top: calc(60px + 80 * ((100vw - 320px) / (885)));
  }

  .page__services {
    padding-bottom: calc(20px + 80 * ((100vw - 320px) / (885)));
  }

  .page__tabs {
    margin-bottom: calc(40px + 60 * ((100vw - 320px) / (885)));
  }

  .page__info {
    margin-bottom: calc(30px + 50 * ((100vw - 320px) / (885)));
  }

  .page__info {
    padding-top: calc(40px + 60 * ((100vw - 320px) / (885)));
  }

  .page__info {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / (885)));
  }

  .page__sponsors {
    margin-bottom: calc(25px + 45 * ((100vw - 320px) / (885)));
  }

  .delievery {
    padding-top: calc(80px + 100 * ((100vw - 320px) / (885)));
  }

  .delievery {
    padding-bottom: calc(40px + 140 * ((100vw - 320px) / (885)));
  }

  .delievery__title {
    font-size: calc(40px + 30 * ((100vw - 320px) / (885)));
  }

  .delievery__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / (885)));
  }

  .delievery__line {
    margin-bottom: calc(10px + 25 * ((100vw - 320px) / (885)));
  }

  .delievery__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / (885)));
  }

  .services__title {
    font-size: calc(28px + 22 * ((100vw - 320px) / (885)));
  }

  .services__title {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / (885)));
  }

  .explore__text {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / (885)));
  }

  .video__content {
    padding-bottom: calc(190px + 200 * ((100vw - 320px) / (885)));
  }

  .video__wrapper {
    padding-top: calc(80px + 20 * ((100vw - 320px) / (885)));
  }

  .video__title {
    font-size: calc(25px + 25 * ((100vw - 320px) / (885)));
  }

  .video__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / (885)));
  }

  .video__body {
    padding: calc(15px + 15 * ((100vw - 320px) / (885)));
  }

  .tab__value {
    font-size: calc(12px + 2 * ((100vw - 320px) / (885)));
  }

  .tab__title {
    font-size: calc(13px + 3 * ((100vw - 320px) / (885)));
  }

  .info__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / (885)));
  }

  .info__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / (885)));
  }

  .sponsors__sponsor {
    padding-top: calc(20px + 20 * ((100vw - 320px) / (885)));
  }

  .sponsors__sponsor {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / (885)));
  }

  .sponsors__sponsor {
    padding-left: calc(10px + 10 * ((100vw - 320px) / (885)));
  }

  .sponsors__sponsor {
    padding-right: calc(10px + 10 * ((100vw - 320px) / (885)));
  }
}

@media (max-width: 1100px) {
  .services__service {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1000px) {
  .tabs__tab {
    padding: 25px 20px 20px 20px;
  }

  .tabs__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46.5560165975%;
            flex: 0 1 46.5560165975%;
  }
}

@media (max-width: 800px) {
  .page__video {
    margin: 0px 0px 60px 0px;
  }

  .video__show-info {
    display: block;
  }

  .video__row {
    position: static;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 20px 0px 0px 0px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
  }

  .video__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 0px 0px 20px 0px;
  }

  .video__body {
    position: static;
  }
}

@media (max-width: 767px) {
  .delievery {
    padding-top: 120px;
  }
}

@media (max-width: 750px) {
  .services__service {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 700px) {
  .tabs__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs__picture {
    margin: 20px 0px 0px 0px;
  }

  .tabs__picture-img img {
    position: static;
    width: 100%;
    height: auto;
  }

  .tabs__picture-img::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .info__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__learn {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #ffda48;
  }

  .delievery__button:hover::before {
    width: 100%;
  }

  .delievery__button:hover > span {
    color: black;
  }

  .service-block__link:hover::before {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .explore__sub-value:hover {
    padding: 10px 0px 10px 10px;
  }

  .video__link:hover {
    color: #222020;
  }

  .video__link:hover::before {
    -webkit-transform: translate(0, -50%) rotate(0deg);
        -ms-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }

  .tabs__tab-link:hover {
    background-color: #ffcc00;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
            box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
    color: #ba0000;
  }

  .tab__link:hover {
    padding: 5px 0px 5px 30px;
  }

  .tab__link:hover::before {
    -webkit-transform: translate(0, -50%) rotate(0deg);
        -ms-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }

  .info__button:hover {
    background-color: #ff0202;
  }

  .sponsors__sponsor:hover {
    border: 2px solid #ba0000;
  }
}

.webp .delievery::before{ background-image: url(../Img/header/bg_47.webp); }

.webp .tabs__picture-img::before{ background-image: url(../Img/tabs/tabsBefore.webp); }